@charset "UTF-8";

.topbutton1 , .topbutton2 , .topbutton3  {
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-transform: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    display: block;
    background-color: rgb(248, 248, 248);
    padding: 14px 24px;
    border-radius: 5px;
    text-align: top;
    cursor: pointer;
    margin-right: 16px;
    flex-shrink: 0;
    width: 160px; 
    height:40px;
    align-content: "center";
    border:1px solid   
}


.test2{
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: inherit;
    text-transform: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: inherit;
    color: rgb(26, 26, 26);
    cursor: pointer;
    width: 24;
    height: 24;
    fill: none;
    box-sizing: border-box;
    overflow: hidden;
}

.content{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    font-family: "Spoqa Han Sans", "SF Pro KR", "Apple SD Gothic Neo", "Yoon Gothic", "Malgun Gothic", "HY Dotum", 돋움, Dotum, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    padding: 20px;


	text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    display: block;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    text-align: top;
    cursor: pointer;
    margin-right: 16px;
    flex-shrink: 0;
    align-content: "center";
}


.Search{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #0e6371;
    --cyan: #17a2b8;
    --gray: #999;
    --gray-dark: #555;
    --primary: #ed6653;
    --secondary: #777;
    --success: #28a745;
    --info: #0e6371;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f7f7f7;
    --dark: #333;
    --white: #fff;
    --black: #000;
    --gray-100: #f7f7f7;
    --gray-200: #eee;
    --gray-300: #dbdbdb;
    --gray-400: #c7c7c7;
    --gray-500: #aaa;
    --gray-600: #999;
    --gray-700: #777;
    --gray-800: #555;
    --gray-900: #333;
    --coral-100: #ffedee;
    --coral-400: #f39b8e;
    --coral-500: #ef7b6a;
    --coral-600: #ed6653;
    --coral-700: #e1432e;
    --coral-800: #be1e08;
    --primary-100: #ffedee;
    --primary-200: #f39b8e;
    --primary-300: #ef7b6a;
    --primary-400: #ed6653;
    --teal-100: #d5f4f2;
    --teal-400: #9fd8d4;
    --teal-500: #6dc5bf;
    --teal-600: #45ada6;
    --teal-700: #007871;
    --teal-800: #0e6371;
    --davy-gray: #555;
    --medium: #dbdbdb;
    --red-100: #ffe9ee;
    --red-600: #e95769;
    --red-700: #d64040;
    --green-100: #e7f5e9;
    --green-600: #49af5a;
    --green-700: #1c792f;
    --yellow-100: #fdf5e3;
    --yellow-600: #dca416;
    --yellow-700: #ae851e;
    --blue-100: #e4f2fd;
    --blue-600: #2c98f0;
    --blue-700: #0d66d0;
    --indigo-100: #e9e9fb;
    --indigo-600: #675ddd;
    --indigo-700: #5144e0;
    --purple-100: #ede7f6;
    --purple-600: #8d5bc0;
    --purple-700: #743dab;
    --magenta-100: #ffeaf6;
    --magenta-600: #d83790;
    --magenta-700: #c31075;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    word-break: keep-all!important;
    word-wrap: break-word!important;
    list-style: none;
    box-sizing: border-box;
    font-family: Noto Sans KR,sans-serif;
    background-color: #f7f7f7!important;
    border: 1px solid #dbdbdb!important;
    border-radius: .25rem!important;
    display: flex!important;
    position: relative!important;
    text-align: left!important;
    width: 80%!important;
}
