<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jin.Profile.IProfileDao">


<select id="getjoinSocial" parameterType="String" resultType="com.jin.Social.SocialMemberList">
	SELECT Mname
	FROM SocialMemberList
	where nickname=#{nickname}
</select>


<select id="getfutureSocial" parameterType="Map" resultType="com.jin.Social.SocialMeetList">
	SELECT *
	FROM SocialMeetList
	where nickname=#{nickname}
	<![CDATA[
	and mdate>=#{date}
	]]>
</select>

<select id="getfutureClass" parameterType="Map" resultType="com.jin.Profile.ClassDateList">
	SELECT *
	FROM ClassDateList
	where nickname=#{nickname}
	<![CDATA[
	and cdate>=#{date}
	]]>
</select>




</mapper>